/*
 *= require bootstrap
 *= require leaflet
 */


 #map {
  height: 400px;
  width: 800px;
 }

body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  color: #555;
}

.content-font {
  color: #555
}

/*Quote bubble*/
.bubble 
{
  position: relative;
  width: auto;
  height: auto;
  padding: 0 10px 10px 10px;
  background: #00FFFF;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.bubble:after 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #00FFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -15px;
  left: 28px;
}


.reviewer-box {
  margin-top:40px;
  margin-bottom: 30px
}

/*Avatar circle*/
.avatar-regular {
  background-color: #c92424;
  border-radius: 150px;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  font-size: 14px
}

.avatar-small {
  background-color: #c92424;
  border-radius: 150px;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  font-size: 14px
}

#followers-box, #followed-users-box {
  position: relative;
  height: auto;
  width: auto;
  margin-left: 20px;
}

